<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msabhi.composedrive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeTestDrive">
        <activity
            android:name=".imperative.ImperativeListActivity"
            android:exported="false" />
        <activity
            android:name=".mixed.MixedCounterActivity"
            android:exported="false"
            android:theme="@style/Theme.ComposeTestDrive.NoActionBar" />
        <activity
            android:name=".RootActivity"
            android:exported="false"
            android:label="@string/title_activity_root"
            android:theme="@style/Theme.ComposeTestDrive.NoActionBar" />
        <activity
            android:name=".imperative.ImperativeCounterActivity"
            android:exported="false" />
        <activity
            android:name=".BottomUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeTestDrive.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".declarative.DeclarativeCounterActivity"
            android:theme="@style/Theme.ComposeTestDrive.NoActionBar" />
        <activity
            android:name=".declarative.DeclarativeListActivity"
            android:theme="@style/Theme.ComposeTestDrive.NoActionBar" />
    </application>

</manifest>